# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\project\IDEA\CP-ABE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
